<%if(success.length>0){%>
<div
  class="alert alert-success alert-dismissible fade show col-6 offset-3"
  role="alert"
  id="toastSuccess"
>
  <strong><%- success %></strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<%}%> <%if(error.length>0){%>
<div
  class="alert alert-danger alert-dismissible fade show col-6 offset-3"
  role="alert"
  id="toastError"
>
  <strong><%- error %></strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<%}%> <%if(success.length>0){%>
<script>
  let toast = document.getElementById("toastSuccess");
  setTimeout(() => {
    toast.style.display = "none";
  }, 1200);
</script>
<%}else if(error.length>0){%>
<script>
  let toast2 = document.getElementById("toastError");
  setTimeout(() => {
    toast2.style.display = "none";
  }, 1200);
</script>
<%}%>
