<footer>
  <div class="f_info p-3">
    <div class="f_info_social">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="f_info_copy">&copy; Wanerlust private Limited</div>
    <div class="f_info_link">
      <a href="/privacy">privacy</a>
      <a href="/terms">terms</a>
    </div>
  </div>
</footer>
