<style>
  #searchBtn {
    background: #fe424d;
    border-radius: 25px;
    padding: 0 15px;
    border: none;
    outline: none;
  }
  .searchInput {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
  }
  @media (width<770px) {
    .toggleContainer {
      display: flex;
      gap: 10px;
      position: absolute;
      right: 10px;
      top: 18px;
    }
  }
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top p-3">
  <div class="container-fluid" id="navContainer">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-compass"></i></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <div class="nav-item">
          <a class="nav-link" href="/listings"><strong>Explore</strong></a>
        </div>
      </div>
      <div class="navbar-nav ms-auto">
        <form
          class="d-flex"
          role="search"
          action="/listings/search"
          method="post"
        >
          <input
            class="form-control me-2 searchInput"
            type="text"
            placeholder="Search destinations"
            name="title"
          />
          <button class="btn btn-secondary" type="submit" id="searchBtn">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/listings/new"
            ><strong>Add new listing </strong>&nbsp;<i
              class="fa-solid fa-globe fa-md"
            ></i
            >&nbsp;</a
          >
        </li>
      </ul>
    </div>
    <div class="toggleContainer">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <%if(!currentUser){ %>
      <div class="nav-item" id="toggle-user" style="margin-top: 5px">
        <button class="user-icon" onclick="toggleUser()">
          <i class="fa-solid fa-circle-user fa-2xl"></i>
        </button>
        <div id="reg">
          <a class="nav-link" href="/login"><b>Login</b></a>
          <a class="nav-link" href="/signup"><b>Signup</b></a>
        </div>
      </div>
      <%}else{%>
      <div class="nav-item" class="user-icon">
        <a class="nav-link" href="/logout"
          ><i
            class="fa-solid fa-right-from-bracket fa-2xl"
            style="opacity: 0.7"
          ></i
        ></a>
      </div>
      <%}%>
    </div>
  </div>
</nav>
<script>
  function toggleUser() {
    document.getElementById("reg").style.display =
      document.getElementById("reg").style.display == "none"
        ? "inline"
        : "none";
  }
</script>
