<% layout('./layouts/boilerplate.ejs') %>
<!-- used to link to boilerplate(ejs-mate) -->
<style>
  body {
    height: 100vh;
  }
</style>
<div class="mt-3">
  <h3 style="text-align: center; margin: 1rem">Login</h3>
  <div class="col-6 offset-3">
    <form action="/login" method="post" class="needs-validation" novalidate>
      <div class="mb-2">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          placeholder="Enter username"
          class="form-control"
          id="username"
          name="username"
          required
        />
      </div>
      <div class="mb-2">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          placeholder="Enter your password"
          class="form-control"
          id="password"
          name="password"
          required
        />
      </div>
      <div>
        <button class="btn btn-success" style="margin: 10px 10px 10px 0">
          Login
        </button>
        <div
          class="btn btn-outline-success"
          id="guestCredentials"
          onclick="guestCredentials()"
        >
          Demo Credentials
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  function guestCredentials() {
    document.getElementById("username").value = "demo";
    document.getElementById("password").value = "demo123";
  }
</script>
